<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12163141501-53ru1ukl3he85ee7i52j3u73724c6its.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12163141501-53ru1ukl3he85ee7i52j3u73724c6its</string>
	<key>API_KEY</key>
	<string>AIzaSyAUVFA2XAJ1F18DzkMQKzjljGM9npYfYNk</string>
	<key>GCM_SENDER_ID</key>
	<string>12163141501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.coffeeshop</string>
	<key>PROJECT_ID</key>
	<string>flutterflow-coffee-shop</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterflow-coffee-shop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12163141501:ios:f776a4087447099bddc614</string>
</dict>
</plist>